# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# generated
/ts-docs

# production
/dist
/storybook-static

# log files
npm-debug.log*
*storybook.log

# ide specific files
.idea
